@page "/entrar"

<div class=" w-full h-screen flex justify-center items-center">
    <div class="flex justify-center items-center md:w-[400px] md:h-[650px] md:shadow-sm shadow-Cor-Primaria rounded-lg">
        <div>
            <div class=" flex justify-center items-center w-full h-full">
                <img src="" alt="Logotipo" class=" w-[200px] h-[200px]">
            </div>
            <form action="" class=" p-2 space-y-4 flex flex-wrap ">
                <input type="text" placeholder="Email ou Numero de Telefone"
                    class="p-2 w-full rounded-sm border-2 border-Cor-Primaria focus:border-Cor-Detalhes01 focus:outline-none ">
                <input type="password" placeholder="Palavra-Passe"
                    class="p-2 w-full rounded-sm border-2 border-Cor-Primaria focus:border-Cor-Detalhes01 focus:outline-none ">
                <div class=" flex w-full justify-center items-center">
                    <Botao Submit="true" Tipo="filled-rounded" Tamanho="300px">Entrar</Botao>
                </div>
            </form>
            <div class=" text-xs text-center py-3">
                <h1><a href="" class=" font-bold text-Cor-Primaria">Esqueceu sua Palavra-Passe?</a></h1>
                <h1>Não Possui uma Conta? <a href="" class=" font-bold text-Cor-Primaria">Crie Já uma Conta!</a></h1>
            </div>
        </div>
    </div>
</div>

@code {

}