@page "/entrar"

<div class=" w-full h-screen flex justify-center items-center">
    <div class="flex justify-center items-center md:w-[400px] md:h-[650px] md:shadow-sm shadow-Cor-Primaria rounded-lg">
        <div>
            <div>
                <img src="" alt="Logotipo">
            </div>
            <form action="" class=" p-2 space-y-4 flex flex-wrap ">
                <input type="text" placeholder="Email ou Numero de Telefone"
                    class="p-2 w-full rounded-sm border-2 border-Cor-Primaria focus:border-Cor-Detalhes01 focus:outline-none ">
                <input type="password" placeholder="Palavra-Passe"
                    class="p-2 w-full rounded-sm border-2 border-Cor-Primaria focus:border-Cor-Detalhes01 focus:outline-none ">
                <div class=" flex w-full justify-center items-center">
                    <Botao Submit="true" Tipo="filled-rounded" Tamanho="300px">Entrar</Botao>
                </div>
            </form>
        </div>
    </div>
</div>

@code {

}