@page "/"

<div id="MainContainer" class="">

    <Menu></Menu>
    <Introducao></Introducao>

    <section class="produts">

    </section>

    <section class="bestsellers">

    </section>

    <section class="about">

    </section>

    

</div>
