@page "/produtos"

<Menu></Menu>

<div class=" p-2">
    <div class=" h-[200px] flex justify-center items-center">
        <div class=" text-center">
            <h1 class=" text-Cor-Primaria text-[30px] font-bold">Pronto para encomendar?</h1>
            <h2 class=" text-xs text-Cor-Detalhes02">Escolha nossa variedade de bolos, ressois, tortas e muito!</h2>
        </div>
    </div>
</div>

<div class=" p-1 flex space-x-1 flex-wrap">
    <PesquisaProdutos></PesquisaProdutos>
</div>

<CardProduto></CardProduto>
