@page "/produtos"

<Menu></Menu>

<div class=" p-2">
    <div>
        <h1>Bolos, Ressois, Tortas...Temos tudo para si.</h1>
        <h2>De uma olhada em tudo que podemos oferecer para si.</h2>
    </div>


    <TextBox Tipo="texto" Placeholder="Nome"></TextBox>
</div>
