@if (Tipo == "rounded")
{
    tipoClass += $" w-[{Tamanho}] rounded-md text-Cor-Detalhes02 hover:bg-Cor-Detalhes02 hover:text-Cor-Secundaria";
}
else if (Tipo == "filled")
{
    tipoClass += $" w-[{Tamanho}] bg-Cor-Detalhes02 text-Cor-Secundaria hover:text-Cor-Detalhes02";
}
else if (Tipo == "default")
{
    tipoClass += $" w-[{Tamanho}] text-Cor-Detalhes02 hover:bg-Cor-Detalhes02 hover:text-Cor-Detalhes02";
}
else if (Tipo == "filled-rounded")
{
    tipoClass += $" w-[{Tamanho}] bg-Cor-Detalhes02 hover:bg-Cor-Primaria text-Cor-Secundaria rounded-md hover:text-Cor-Secundaria";
}

@if (Submit){
    <button type="submit" class="@tipoClass ">@ChildContent</button>
}else{
    <button class="@tipoClass ">@ChildContent</button>
}



@code {

    [Parameter] public bool Submit {get; set;} = false;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Tipo { get; set; } = "default";
    [Parameter] public string? Tamanho {get; set;} = "150px";


    public string tipoClass = "border-2 border-Cor-Detalhes02 px-5 py-3 shadow-lg hover:scale-105 transition";


}