<section class="flex flex-wrap justify-center items-center">
  <div class=" w-10/12 h-80 bg-Cor-Primaria shadow-lg rounded-lg my-5 md:h-96"></div>
  <div class=" text-center text-Cor-Detalhes02">
    <h1 class=" text-2xl text-Cor-Primaria font-bold my-1">Sabor memorável feito com amor</h1>
    <p>Bolos e todo tipo de refeicao feitos especialmente para sí.</p>
  </div>
  <div class=" flex w-full justify-center">
    <Botao Texto="Encomendar Agora" Tipo="filled-rounded" />
  </div>
</section>

