<menu class="top-0 shadow shadow-Cor-Detalhes02">
  <div class="flex w-full h-12 bg-Cor-Primaria text-Cor-Secundaria md:hidden">
    <div class=" flex items-center justify-start w-1/5">
      <img src="" alt="Icone Menu" @onclick="MostrarOcultarMenu">
    </div>
    <div class=" flex items-center justify-center w-4/5">
      <img src="Logo" alt="Logotipo Empresa">
    </div>
  </div>

  <nav id="hidden" class=" hidden w-full h-12 bg-Cor-Primaria text-Cor-Secundaria  md:flex">
    <ul class=" flex w-2/5 items-center justify-center space-x-8">
      <a href=""><li>Início</li></a>
      <a href=""><li>Sobre Nós</li></a>
      <a href=""><li>Contact</li></a>
    </ul>

    <div class=" flex items-center justify-center w-1/5">
      <img src="" alt="Icone Menu">
    </div>

    <ul class=" flex w-2/5 items-center justify-center space-x-8">
      <a href=""><li>ICO01</li></a>
      <a href=""><li>ICO01</li></a>
      <a href=""><li>ICO01</li></a>
    </ul>
  </nav>

<nav id="menu-hamburger" class=" fixed transition-opacity @classMostrar flex flex-wrap w-full h-3/4 top-0 bg-Cor-Secundaria drop-shadow">
  <ul class=" w-full space-y-3 text flex justify-center flex-wrap items-center h-4/5 text-Cor-Detalhes02">
    <li class=" w-4/5 h-12 bg-Cor-Primaria active:bg-Cor-Detalhes02 p-3 rounded-lg text-Cor-Secundaria">Início</li>
    <li class=" w-4/5 h-12 bg-Cor-Primaria active:bg-Cor-Detalhes02 p-3 rounded-lg text-Cor-Secundaria">Sobre Nós</li>
    <li class=" w-4/5 h-12 bg-Cor-Primaria active:bg-Cor-Detalhes02 p-3 rounded-lg text-Cor-Secundaria">Contactos</li>
    <li class=" w-4/5 h-12 bg-Cor-Primaria active:bg-Cor-Detalhes02 p-3 rounded-lg text-Cor-Secundaria" @onclick="MostrarOcultarMenu" >Fechar Menu</li>
  </ul>

  <ul class=" w-full h-1/5 flex justify-center space-x-3 items-center bg-Cor-Primaria text-Cor-Secundaria">
    <a href=""><li>ICO01</li></a>
    <a href=""><li>ICO01</li></a>
    <a href=""><li>ICO01</li></a>
  </ul>
</nav>

</menu>

@code{
  public string classMostrar = "hidden";

  public void MostrarOcultarMenu(){
    if(classMostrar == "hidden"){
      classMostrar = "block";
    }else{
      classMostrar = "hidden";
    }
  } 

}

