<form action="post" @onsubmit="@ListarProdutos" class=" md:flex md:justify-center md:items-center w-full ">
    <div class="flex w-full space-x-1 md:w-[75%] lg:w-[65%]">
        <input type="search" @bind-value="pesquisa"
            class="p-1 w-full rounded-sm border-2 border-Cor-Primaria focus:border-Cor-Detalhes01 focus:outline-none ">
        <Botao Texto="Pesquisar" Tipo="filled-rounded" submit="true"></Botao>
    </div>
</form>

<CardProduto produtos="@produtos"></CardProduto>

@code {
    private List<Produto> produtos = new List<Produto>();
    private string? pesquisa;
    void ListarProdutos()
    {
        produtos = Produto.PesquisarProdutos(pesquisa);
    }
}